<!DOCTYPE html>
<html lang="en">
<!-- ============================================================ -->
<!-- =                                                          = -->
<!-- =    Jesse Showalter Design - http://jesseshowalter.com    = -->
<!-- =        Designer, Developer, Believer, Family Man         = -->
<!-- =                                                          = -->
<!-- ============================================================ -->
  <head>
    <meta charset="utf-8">
    <title>Tattoolicious Hawaii- Waikiki Tattoo Shop</title>
    <base href="http://www.tattoolicious.com/" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Waikiki Tattoo, Waikiki Tattoo Shop, Tattoolicious, Honolulu Tattoo, Oahu Tattoo, Oahu Tattoo shop, Hawaii Tattoo Tshirts, Tattoo Hawaii, Tattoo Oahu, Oahu Tattoo, Tattoos in Hawaii">
	<meta name="description" content="Welcome to Tattoolicious, Waikiki's favorite tattoo shop. Our artists are the best on Oahu & are ready to give you your next tattoo!">
	<meta http-equiv="Content-Language" content="EN">
	<meta name="author" content="Jesse Showalter">
	<meta name="copyright" content="Copyright Tattoolicious">
	<meta name="robots" content="follow,index">

    <!-- Le styles -->
    <link rel="shortcut icon" href="http://www.bluehawaiitattoomaui.com/skull.ico">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Podkova|Kaushan+Script|Arizonia' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdn.foxycart.com/static/scripts/colorbox/1.3.23/style1_fc/colorbox.css?ver=1" type="text/css" media="screen" charset="utf-8" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements
    			- updated in Bootstrap 2.02 to include the http: -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->

</head>
    <body>
    <div class="navbar navbar-fixed-top">
    <div class="container globalNav">
        <!-- <a class="viewCart" href="https://bluehawaiitattoomaui.foxycart.com/cart?cart=view" class="foxycart">View cart.</a> -->
        <a href="http://www.tattoolicious.com/"><h1 style="background-image:url(assets/uploads/images/TattooliciousLogo.png);" >Blue Hawaii Tattoo</h1></a>
        <!-- outerTpl -->
<ul id="menu">
<li class="first"><a href="tattoo-honolulu/" title="Tattoos" >Tattoos</a><!-- outerTpl -->
<ul id="menu">
<li class="first"><a href="jasn-basn.html" title="Jasn Basn" >Jasn Basn</a></li>
<li><a href="tattoo-honolulu/sean-mccready.html" title="Sean McCready" >Sean McCready</a></li>
<li><a href="tattoo-honolulu/amy-jean.html" title="Amy Jean" >Amy Jean</a></li>
<li><a href="tattoo-honolulu/andy.html" title="Andy King" >Andy King</a></li>
<li><a href="tattoo-honolulu/robert.html" title="Robert Bennett" >Robert Bennett</a></li>
<li><a href="tattoo-honolulu/josh.html" title="Joshua Flinn" >Joshua Flinn</a></li>
<li><a href="tattoo-honolulu/amy.html" title="Enson" >Enson</a></li>
<li><a href="tattoo-honolulu/andres.html" title="Andres" >Andres</a></li>
<li><a href="tattoo-honolulu/yvonne-kang.html" title="Yvonne Kang" >Yvonne Kang</a></li>
<li><a href="tattoo-honolulu/siren-sam.html" title="Siren Sam" >Siren Sam</a></li>
<li><a href="macarena-poblete.html" title="Macarena Poblete" >Macarena Poblete</a></li>
<li><a href="bernardo-vergara.html" title="Bernardo Vergara" >Bernardo Vergara</a></li>
<li><a href="tattoo-honolulu/guest-artists/" title="Guest Artists" >Guest Artists</a><!-- outerTpl -->
<ul id="menu">
<li class="first"><a href="tattoo-honolulu/guest-artists/mimi-tattoo.html" title="Mimi" >Mimi</a></li>
<li><a href="" title="Petra" >Petra</a></li>
<li><a href="tattoo-honolulu/guest-artists/jp-alfonso.html" title="Jp Alfonso" >Jp Alfonso</a></li>
<li class="last"><a href="tattoo-honolulu/guest-artists/roman-guest.html" title="ROMAN GUEST" >ROMAN GUEST</a></li>

</ul></li>
<li><a href="tattoo-honolulu/guest-artists.html" title="Seeking New Talent" >Seeking New Talent</a></li>
<li class="last"><a href="tattoo-honolulu/tattoo-aftercare.html" title="Tattoo Aftercare" >Tattoo Aftercare</a></li>

</ul></li>
<li><a href="store/" title="Store" >Store</a><!-- outerTpl -->
<ul id="menu">
<li class="first"><a href="store/blue-hawaii-tank-top.html" title="Painting titled "Culture" by Artist Sean McCready" >Painting titled "Culture" by Artist Sean McCready</a></li>
<li class="last"><a href="store/painting-titled-culture-by-artist-sean-mccready.html" title="Painting titled "Vanity" by Artist Sean McCready" >Painting titled "Vanity" by Artist Sean McCready</a></li>

</ul></li>
<li><a href="about-tattoolicious/" title="About Tattoolicious" >About Us</a><!-- outerTpl -->
<ul id="menu">
<li class="first"><a href="about-tattoolicious/our-story.html" title="Our Story" >Our Story</a></li>
<li><a href="about-tattoolicious/appointments.html" title="Appointments at Tattoolicious" >Appointments</a></li>
<li><a href="about-tattoolicious/location.html" title="Location" >Location</a></li>
<li><a href="about-tattoolicious/faq.html" title="FAQ" >FAQ</a></li>
<li><a href="about-tattoolicious/art-shows.html" title="Art Shows" >Art Shows</a></li>
<li><a href="about-tattoolicious/featured-on-sullen-tv.html" title="Featured on Sullen TV" >Featured on Sullen TV</a></li>
<li><a href="revamped-and-renovated-shop.html" title="Revamped  and Renovated Shop" >Revamped  and Renovated Shop</a></li>
<li class="last"><a href="about-tattoolicious/blog/" title="Tattoo Blog" >Tattoo Blog</a></li>

</ul></li>
<li class="last"><a href="contact-us.html" title="Contact Us" >Contact Us</a><!-- outerTpl -->
<ul id="menu">
<li class="first"><a href="contact-us/book-a-consult.html" title="Book a Consult" >Book a Consult</a></li>

</ul></li>

</ul>
        <select id="nav_mobile">
	    <option value="tattoo-honolulu/">
    Tattoos
</option>
<option value="jasn-basn.html">--- Jasn Basn</option>
<option value="tattoo-honolulu/sean-mccready.html">--- Sean McCready</option>
<option value="tattoo-honolulu/amy-jean.html">--- Amy Jean</option>
<option value="tattoo-honolulu/andy.html">--- Andy King</option>
<option value="tattoo-honolulu/robert.html">--- Robert Bennett</option>
<option value="tattoo-honolulu/josh.html">--- Joshua Flinn</option>
<option value="tattoo-honolulu/amy.html">--- Enson</option>
<option value="tattoo-honolulu/andres.html">--- Andres</option>
<option value="tattoo-honolulu/yvonne-kang.html">--- Yvonne Kang</option>
<option value="tattoo-honolulu/siren-sam.html">--- Siren Sam</option>
<option value="macarena-poblete.html">--- Macarena Poblete</option>
<option value="bernardo-vergara.html">--- Bernardo Vergara</option>
<option value="tattoo-honolulu/guest-artists/">--- Guest Artists<option value="tattoo-honolulu/guest-artists/mimi-tattoo.html">--- Mimi</option>
<option value="">--- Petra</option>
<option value="tattoo-honolulu/guest-artists/jp-alfonso.html">--- Jp Alfonso</option>
<option value="tattoo-honolulu/guest-artists/roman-guest.html">--- ROMAN GUEST</option>
</option>
<option value="tattoo-honolulu/guest-artists.html">--- Seeking New Talent</option>
<option value="tattoo-honolulu/tattoo-aftercare.html">--- Tattoo Aftercare</option>

<option value="store/">
    Store
</option>
<option value="store/blue-hawaii-tank-top.html">--- Painting titled "Culture" by Artist Sean McCready</option>
<option value="store/painting-titled-culture-by-artist-sean-mccready.html">--- Painting titled "Vanity" by Artist Sean McCready</option>

<option value="about-tattoolicious/">
    About Us
</option>
<option value="about-tattoolicious/our-story.html">--- Our Story</option>
<option value="about-tattoolicious/appointments.html">--- Appointments</option>
<option value="about-tattoolicious/location.html">--- Location</option>
<option value="about-tattoolicious/faq.html">--- FAQ</option>
<option value="about-tattoolicious/art-shows.html">--- Art Shows</option>
<option value="about-tattoolicious/featured-on-sullen-tv.html">--- Featured on Sullen TV</option>
<option value="revamped-and-renovated-shop.html">--- Revamped  and Renovated Shop</option>
<option value="about-tattoolicious/blog/">--- Tattoo Blog</option>

<option value="contact-us.html">
    Contact Us
</option>
<option value="contact-us/book-a-consult.html">--- Book a Consult</option>


		</select>
    </div>
</div>
    <section class="wrapper fullBar fullBarHome" style="background:;"
 >
    <div class="container">
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">

            <div class="active item">
    <img src="assets/uploads/Reception Tattoolicious Port viewWeb.jpg" alt="" />
    <div class="carousel-caption">
        <h4>Tattoolicious is revamped.. fresh.. new..   and finally here!!</h4>
        <button><a href="revamped-and-renovated-shop.html" title="Revamped  and Renovated Shop">See More</a></button>
    </div>
</div><div class=" item">
    <img src="assets/uploads/Tattoo Suite 1-4 Tattoolicious Web.jpg" alt="" />
    <div class="carousel-caption">
        <h4>Exquisitely Spacious.. and delightfully charming tattoo environment</h4>
        <button></button>
    </div>
</div><div class=" item">
    <img src="assets/uploads/Consult Room Tattoolicious2 Web.jpg" alt="" />
    <div class="carousel-caption">
        <h4>Client consultation suites for comfortable communication</h4>
        <button></button>
    </div>
</div><div class=" item">
    <img src="assets/uploads/images/sullen-e1358249708293.jpg" alt="" />
    <div class="carousel-caption">
        <h4>Tattoolicious featured on SullenTV's Hawaii edition</h4>
        <button><a href="tattoo-honolulu/" title="Tattoos">See More</a></button>
    </div>
</div><div class=" item">
    <img src="assets/uploads/images/giftCard.png" alt="" />
    <div class="carousel-caption">
        <h4>Buy gift cards for friends or family</h4>
        <button><a href="store/gift-card.html" title="Gift Card">See More</a></button>
    </div>
</div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
        <a class="mobileBanner" href="contact-us.html"></a>
    </div> <!-- /container -->
</section>
    <div class="container">
    <div class="row-fluid artists">
        <div class="span12">
            <h2>Meet Our Artists</h2>
            <div class="galleryList">
              <ul>
              <li class="guestArtist">
    <a href="jasn-basn.html">
        <img src="assets/uploads/Artist Tattoos/JasnBoldGeometricBackPiece.jpg" alt="" />
    </a>
    <p>Jasn Basn</p>
</li>
<li >
    <a href="tattoo-honolulu/sean-mccready.html">
        <img src="assets/uploads/gallerypics/skullprofile.jpg" alt="" />
    </a>
    <p>Sean McCready</p>
</li>
<li >
    <a href="tattoo-honolulu/amy-jean.html">
        <img src="assets/uploads/images/tattoo2.jpg" alt="" />
    </a>
    <p>Amy Jean</p>
</li>
<li >
    <a href="tattoo-honolulu/andy.html">
        <img src="assets/uploads/images/51.jpeg" alt="" />
    </a>
    <p>Andy King</p>
</li>
<li >
    <a href="tattoo-honolulu/robert.html">
        <img src="assets/uploads/Artist Tattoos/IMG_3660.jpeg" alt="" />
    </a>
    <p>Robert Bennett</p>
</li>
<li >
    <a href="tattoo-honolulu/josh.html">
        <img src="assets/uploads/images/JoshuaFlynn.jpg" alt="" />
    </a>
    <p>Joshua Flinn</p>
</li>
<li >
    <a href="tattoo-honolulu/amy.html">
        <img src="assets/uploads/images/Enson.jpg" alt="" />
    </a>
    <p>Enson</p>
</li>
<li >
    <a href="tattoo-honolulu/andres.html">
        <img src="assets/uploads/gallerypics/Andres.jpg" alt="" />
    </a>
    <p>Andres</p>
</li>
<li >
    <a href="tattoo-honolulu/yvonne-kang.html">
        <img src="assets/uploads/yvone profile.jpg" alt="" />
    </a>
    <p>Yvonne Kang</p>
</li>
<li >
    <a href="tattoo-honolulu/siren-sam.html">
        <img src="assets/uploads/SamProfilePic.jpg" alt="" />
    </a>
    <p>Siren Sam</p>
</li>
<li >
    <a href="macarena-poblete.html">
        <img src="assets/uploads/./MacarenaProfiePic.jpg" alt="" />
    </a>
    <p>Macarena Poblete</p>
</li>
<li >
    <a href="bernardo-vergara.html">
        <img src="assets/uploads/BernardoProfilePic.jpg" alt="" />
    </a>
    <p>Bernardo Vergara</p>
</li>
<li >
    <a href="tattoo-honolulu/guest-artists/">
        <img src="assets/uploads/gallerypics/Featured Artists.jpg" alt="" />
    </a>
    <p>Guest Artists</p>
</li>
<li >
    <a href="tattoo-honolulu/guest-artists.html">
        <img src="assets/uploads/gallerypics/seeking new talent.jpg" alt="" />
    </a>
    <p>Seeking New Talent</p>
</li>
<li >
    <a href="tattoo-honolulu/tattoo-aftercare.html">
        <img src="assets/uploads/images/aftercare.jpg" alt="" />
    </a>
    <p>Tattoo Aftercare</p>
</li>
                </ul>
            </div><!-- galleryList -->
        </div>
    </div>
</div>

    <div class="container">
      <div class="row-fluid info">
        <div class="span6 aboutTat">
            <h2>Tattoo Licious Hawaii - located in Waikiki Honolulu</h2>
<p><span>Tattoolicious has gained notable attention as one of the top Hawaii tattoo shops since we opened our doors way back in 2000. Our shop features a clean, comfortable, and sterile environment, with professional artists. Located just outside of Honolulu’s famous Waikiki Beach, Tattoolicious is the perfect shop for your next masterpiece.  Questions? Give our shop a call at </span><strong>(808) 949-8287</strong></p>
<h2> </h2>
<h2> </h2>
        </div>
        <div class="span6 virtualTat">
          <h2>Take a tour inside our Gallery.</h2>
<p><a href="https://youtu.be/58rorywILd4"><img title="Click for more gallery pictures" src="assets/uploads/Art%20Corridor%20Tattoolicious%20Web.jpg" alt="Click for more gallery pictures" width="1198" height="800" /></a></p>
<p> </p>
<p> </p>
<h2>Rather Get your Tattoo on Maui?</h2>
<p>Great News! Our Sister Shop in Lahaina Maui, Gots You Covered! Visit <a href="http://www.bluehawaiitattoomaui.com/" target="_blank">Blue Hawaii Tattoo Maui</a> for our team of artists.<strong><br /></strong></p>
<p><em>(Click the pic below)</em></p>
<p><a href="http://www.bluehawaiitattoomaui.com/" target="_blank"><img src="assets/uploads/images/maui%20bluehawaii.jpg" alt="lahaina maui tattoo shop location" width="729" height="504" /></a></p>
        </div>
      </div><!-- end row 1 -->
    </div>
    <section class="wrapper fullBar fullBarFaqBook" style="background:;"
 >
      <div class="container">
        <div class="row-fluid info">
          <div class="span6">
            <div class="consultForm">
                <header>
                  <h3>Book a Consult</h3>
                  <h3><strong>It's Free</strong></h3>
                </header>
                <p class="letsBookIt">Book a consult and personally meet with an Artist to discuss your tattoo.</p>
                <img class="entice" src="assets/uploads/images/Lobbyview.jpg" alt="Book a Consult">
                <button><a href="contact-us/book-a-consult.html">Book Now</a></button>
             </div>
          </div> <!-- /span 6 -->

          <div class="span6">
            <h2>Frequently Asked Questions</h2>
            <div id="accordion" class="accordion">
                <div class="accordion-group">
    <div class="accordion-heading">
        <a href="#collapse1" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
            <p>Can I buy a gift certificate for someone<i class="icon-plus"></i></p>
        </a>
    </div>
    <div class="accordion-body collapse" id="collapse1" style="height: 0px;">
        <div class="accordion-inner">
            <p><p>Absolutely, however we offer them in gift card form.  Feel free to email or call the shop to purchase a gift card for a loved one.</p>
<p>We can also send them out directly to the recipient as well.</p></p>
        </div>
    </div>
</div> <!-- /accordian group --><div class="accordion-group">
    <div class="accordion-heading">
        <a href="#collapse2" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
            <p>Do Tattoos hurt?<i class="icon-plus"></i></p>
        </a>
    </div>
    <div class="accordion-body collapse" id="collapse2" style="height: 0px;">
        <div class="accordion-inner">
            <p><p>Yes, there is always a level of pain when getting a tattoo and generally the tolerance level is up to the individual, but our talented artist take great care to make sure you are relaxed, comfortable and confident. A skilled hand can make the experience much more enjoyable, and those are the hands we employ here at Blue Hawaii Tattoo.<br /><br /></p>
<p><iframe src="http://www.youtube.com/embed/qfnUA7g9dn8?rel=0" frameborder="0" width="560" height="420"></iframe></p></p>
        </div>
    </div>
</div> <!-- /accordian group --><div class="accordion-group">
    <div class="accordion-heading">
        <a href="#collapse3" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
            <p>Can I get an infection?<i class="icon-plus"></i></p>
        </a>
    </div>
    <div class="accordion-body collapse" id="collapse3" style="height: 0px;">
        <div class="accordion-inner">
            <p><p><span>Infection is caused by bacteria getting into the raw wound, so yes, you are able to get an infection. But it all depends on how well you care for the tattoo after your appointment. Your artist will cover the area with a bandage immediately following your session and will provide you with instructions on how to properly care for the tattoo. As long as you follow the instructions provided, your risk of infection will decrease dramatically.<br /></span></p>
<p><span>Proper care will help the tattoo heal properly, and reduce the risk of infection. It will also help with the overall appearance of the tattoo, causing the colors to remain bold and bright and remain beautiful for years to come.<br /></span></p></p>
        </div>
    </div>
</div> <!-- /accordian group --><div class="accordion-group">
    <div class="accordion-heading">
        <a href="#collapse4" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
            <p>How Do I heal my new Tattoo<i class="icon-plus"></i></p>
        </a>
    </div>
    <div class="accordion-body collapse" id="collapse4" style="height: 0px;">
        <div class="accordion-inner">
            <p><p>Tattoos are permanent body art created by professionals using tattoo guns to puncture skin and insert ink below the first layer of skin. It is important to know how to treat a new tattoo in order to speed up your healing time and avoid negative side effects. Consider the following when learning how to treat a new tattoo.</p>
<blockquote><ol>
<li><span style="line-height: 1.5em;">Listen to your tattoo artist. If you’ve done your homework and chosen a good tattoo artist, he or she will provide detailed instructions and you should follow them carefully. Think of your tattoo as having a warranty; if you don’t follow the artist’s instructions, you might void the warranty and he or she won’t give you free touch-ups.<br /><br /></span></li>
<li><span style="line-height: 1.5em;">Leave the bandage on. You should leave it on anywhere between two hours to 24 hours. Make sure a thick, absorbent, non-stick ABD wound dressing is used. Your tattoo artist will give you a time frame. Be patient. The bandage is there to protect your tattoo from airborne bacteria, which can penetrate through your broken skin.<br /><br /></span></li>
<li><span style="line-height: 1.5em;">Soak the bandage with warm water when removing it. This is optional, but recommended if the bandage is stuck to your tattoo and offers resistance.<br /><br /></span></li>
<li><span style="line-height: 1.5em;">Wash the tattoo. Most artists recommend lukewarm water and mild, unscented liquid antibacterial or antimicrobial soap. Use your hands (not a wash cloth) and gently remove all traces of blood so it doesn’t scab. Pat (don’t rub) dry with a clean towel or a paper towel.<br /><br /></span></li>
<li><span style="line-height: 1.5em;">Apply ointment. Many tattoo artists advise that you use ointment for 2-3 days. Ointment lasts longer than lotion, reducing the number of times you need to apply it and thus lessening the amount of rubbing. Apply a thin layer that’s just enough to make the tattoo shine, or else you’ll suffocate it. Apply it twice a day. Switch over to lotion when your tattoo artist says so.<br /><br /></span></li>
<li><span style="line-height: 1.5em;">Continue washing and applying ointment or lotion as directed by your tattoo artist until the tattoo heals. The tattoo might look cloudy for a few days as it heals. This is called “onion skin.” You’ll know you have “onion skin” when the tattoo looks clearer when wet.</span></li>
</ol></blockquote></p>
        </div>
    </div>
</div> <!-- /accordian group --><div class="accordion-group">
    <div class="accordion-heading">
        <a href="#collapse5" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
            <p>Do I have to pay a deposit?<i class="icon-plus"></i></p>
        </a>
    </div>
    <div class="accordion-body collapse" id="collapse5" style="height: 0px;">
        <div class="accordion-inner">
            <p><p><span>Yes, we require you to pay an $40 deposit to hold your appointment time, and also allow our artists to begin your drawing (drawing is work!). If you cancel within 48 hours, you will not receive your deposit back.</span></p></p>
        </div>
    </div>
</div> <!-- /accordian group -->
            <button><a href="about-tattoolicious/faq.html">More FAQ's</a></button>
            </div>  <!-- /accordian -->
          </div>  <!-- /span 6 -->
        </div> <!-- /row-fluid info -->
      </div> <!-- /container -->
    </section>
    <footer class="container lowFooter">
      <div class="row-fluid">
        <div class="span3 blogRoll">
            <h3>Recent Posts</h3>
            <article>
    <a href="about-us/blog/2014/11/25/we-are-honored-to-have-master-sulu’ape-pili-mo’o-spend-time-with-us-and-offer-his-gift-to-our-people/">Master Sulu’ape Pili Mo’o</a>
    <time pubdate datetime="Nov 26, 2014">Nov 26, 2014</time>
</article>
<article>
    <a href="about-us/blog/2014/02/17/tattoolicious-welcomes-guest-artist-zema/">Tattoolicious welcomes Guest Artist Zema</a>
    <time pubdate datetime="Feb 17, 2014">Feb 17, 2014</time>
</article>
<article>
    <a href="about-us/blog/2014/02/17/tattoolicious-welcomes-guest-artist-hilary-jane/">Tattoolicious welcomes Guest Artist Hilary Jane</a>
    <time pubdate datetime="Feb 17, 2014">Feb 17, 2014</time>
</article>
<article>
    <a href="about-us/blog/2013/01/29/tattoolicious-welcomes-guest-artist-katalin/">Tattoolicious welcomes guest artist Katalin</a>
    <time pubdate datetime="Jan 29, 2013">Jan 29, 2013</time>
</article>
<article>
    <a href="about-us/blog/2014/06/11/blue-hawaii-tattoo-opens-in-lahaina-maui/">Blue Hawaii tattoo opens in Lahaina Maui</a>
    <time pubdate datetime="Jun 11, 2014">Jun 11, 2014</time>
</article>
<article>
    <a href="about-us/blog/2013/01/05/tattoolicious-welcomes-guest-artist-mia-graffem/">Tattoolicious welcomes guest artist Mia Graffem</a>
    <time pubdate datetime="Jan 05, 2013">Jan 05, 2013</time>
</article>
        </div>
        <div class="span6 latestTats">
            <h3>Latest Tattoos</h3>
            <article>
    <p class="crop"><img src="/assets/galleries/115/1439_JasonBlackGeometricSleeve.jpg" alt="tattoo from Tattoolicious"></p>
</article>
<article>
    <p class="crop"><img src="/assets/galleries/115/1438_JasnGeometricFullSleeve.jpg" alt="tattoo from Tattoolicious"></p>
</article>
<article>
    <p class="crop"><img src="/assets/galleries/115/1436_JasonGeometricSleeve.jpg" alt="tattoo from Tattoolicious"></p>
</article>
<article>
    <p class="crop"><img src="/assets/galleries/115/1437_JasnGeometricChestPiece.jpg" alt="tattoo from Tattoolicious"></p>
</article>

        </div>
        <div class="span3 contactInfo">
          <h3>Company Information</h3>
            <em>Phone:</em><br>
            <a href="tel:(808)-949-8287 ">(808)-949-8287 </a>
            <br><br>
            <address>
              <em>Address:</em><br>
              1909 Ala Wai Blvd </br> Honolulu, HI 96815
            </address>
            <br>
            <em>Hours of Operation:</em><br>
            Mon - Sat: 12pm to 9pm </br>  Closed on Sundays
            <div class="social">
              <a target="_blank" href="https://www.facebook.com/TattooLiciousHawaii?fref=ts" class="facebook">facebook</a>
              <a target="_blank" href="https://twitter.com/TattooLiciousHI" class="twitter">twitter</a>
            </div>
        </div>
      </div>
    </footer>
    <section class="wrapper fullBar copyright" style="background:;"
 >
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <p id="back-top">
                        <a href="#top"><span></span>Back to Top</a>
                    </p>
                    <p>© Copyright Tattoolicious 2000 - 2016</p>
                </div>
            </div>
        </div>
</section>
<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery-1.8.2.min.js"></script>
    <script src="//cdn.foxycart.com/bluehawaiitattoomaui/foxycart.colorbox.js?ver=2" type="text/javascript" charset="utf-8"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52528986-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
